*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 80%;
    position: relative;
    margin: auto;
    min-width: 650px;
    min-height: 650px;
    
}
.right{
    border: 2px solid;
    background-color: rgb(25, 25, 74);
    height: 100vh;
    width: 50%;
}
.left{
    border: 2px solid;
    background-color: rgb(108, 26, 99);
    height: 100vh;
    width: 50%;
}

.money{
    position: absolute;
    top:50%;
    left:46%;
    transform: translate(-50%,-50%);
    /* box-shadow: 15px 30px 35px rgb(0, 0,0,0.3); */
    border-radius: 50%;
    background-size: cover;
    perspective: 300px;
    animation-name: spin;
    animation-duration: 2sn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: spin 2s infinite linear;
    transition:all 200ms ease-in-out;
    animation-fill-mode: both;
    /* animation-iteration-count: 3; */
    
    
    

}


@keyframes spin {
    from {
      transform: rotateX(0deg); /* Başlangıçta dönme açısı 0 derece */
    }
    to {
      transform: rotateX(360deg);/* 360 derece tam bir dönüş yapana kadar dönsün*/
    }
  }
    
    
.money img{
    width: 100px;
}